{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}- Login{% endblock %}

{% block page %}
    <div class="col-sm-6">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Connexion</h3>
                    {#<p>Enter username and password to log on:</p>#}
                </div>
                <div class="form-top-right">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <div class="form-bottom">
                {% include 'FOSUserBundle:Security:login_form.html.twig' %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Créer un compte</h3>
                    {#<p>Fill in the form below to get instant access:</p>#}
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="form-bottom">
                {{ render(controller('MaelFrUserBundle:Registration:registerForm', {})) }}
            </div>
        </div>
    </div>
{% endblock page %}
