{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user|niceUsername }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
<div>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">Modifier</a>
</div>